{% extends 'base.html' %}

{% block title %}
    这是首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <h1>这是首页</h1>
    <ul>
        <li>
            <a href="/set_cookie">set_cookie</a>
        </li>
        <li>
            <a href="/get_cookie">get_cookie</a>
        </li>
        <li>
            <a href="/set_session">set_session</a>
        </li>
        <li>
            <a href="/get_session">get_session</a>
        </li>
        <li>
            <a href="/login">login</a>
        </li>
    </ul>
{% endblock %}